.header {
    background-color: #f5ba13;
    font-family: 'Playwrite ES Deco', sans-serif;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
  
.header-h1 {
    color: #fff;
    font-family: 'Playwrite ES Deco', sans-serif;
    font-weight: bolder;
}
  
.header-h1 img {
    width: 60px;
    height: 60px;
}

.hr{
    border: 10px solid black;
  }